{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
{% endblock %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a href="#" class="navbar-brand mx-5">Home</a>
        </div>
    </nav>
    <div class="container mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h2>Witaj, {{ user }}</h2>
        <p>To jest przykładowy dashboard po zalogowaniu</p>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-sm btn-info">Wyloguj</a>
    </div>
{% endblock %}