{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
{% endblock %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a href="{{ url_for('auth.dashboard') }}" class="navbar-brand mx-5">Home</a>
            <ul class="nav justify-content-end">
                <li class="nav-item">Użytkownik, {{ current_user.email }}</li>
            </ul>
            <a href="{{ url_for('auth.logout') }}" class="btn btn-sm btn-info mx-5">Wyloguj</a>
        </div>
    </nav>
    <div class="container mt-5">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row align-items-center justify-content-center">
            <div class="col-lg-3">
                <div class="card border mb-3">
                    <div class="card-header">Magazyn</div>
                    <div class="card-body">
                        <h5 class="card-title">Zarządzanie magazynem</h5>
                        <p class="card-text">Dodawaj, edytuj, usuwaj artykuły w magazynie.</p>
                    </div>
                    <div class="card-footer bg-transparent border">
                        <a href="{{ url_for('store.index') }}" class="btn btn-sm btn-outline-secondary float-end">Wejdź</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card border mb-3">
                    <div class="card-header">Sklep</div>
                    <div class="card-body">
                        <h5 class="card-title">Zarządzanie sprzedażą</h5>
                        <p class="card-text">Sprzedaż, zwroty, statystyki sprzedaży.</p>
                    </div>
                    <div class="card-footer bg-transparent border">
                        <a href="#" class="btn btn-sm btn-outline-secondary float-end">Wejdź</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}