<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>handlebars leanring and installing - {{title}}</title>

                
                {{!-- instalowanie express
                 npm init 
            npm i express

            ( i = install )

            Handlebarsjs

            Express-handlebars

            INSTALOWANIE HANDLEBARS

            npm install express-handlebars

            Node .  // zeby wlaczyc
             --}}


</head>
<body>
    {{{body}}}
</body>
</html>