{% extends "bootstrap/base.html"%}
{%block scripts %}
    {{ super() }}
{% endblock %}
{% block title  %}{{title}}{% endblock %}

{% block content %}
<nav class="navbar bg-body-fluid">
    <div class="constiner-fluid">
        <a href="{{url_for('main.index')}}" class="navbar-brand mx-5">Home</a>
    </div>
</nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6">
                <a href="#" class="btn btn-outline-secondary float-end">Logowanie</a>
            </div>
            <div class="col-lg-6">
                <a href="#" class="btn btn-outline-secondary float-end">Rejestracja</a>
            </div>
        </div>
    </div>
{% endblock %}