*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(161, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}